* {
    margin: 0;
}

header {
    background-image: linear-gradient(to top, rgb(255,90,135), rgb(255,203,219));
}

.menu-rapido {
    background-image: linear-gradient(to left, rgb(186,79,98,69), rgba(82,143,217,85));
}

.row gy-5 {
    padding: 0;
}

.figura {
    width: 1px;
    height: 1px;
}

#imagens {
    width: 550px;
    height: 800px;
    padding: 3px;
}

#eventos ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#nav-icon ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#nav-icon a {
    text-decoration: none;
    color: #fff;
}

.container-fluid {
    padding: 0;
    border: 0;
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}


/* The colour of the indicators */

.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}

.d-flex .row {
    border: 1px solid red;
}

#itanhaem h3 {
    font-size: 37px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 80vh;
}

.stretch-link {
    height: 60vh;
    width: 100%;
    position: absolute;
}

a {
    text-decoration: none!important;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.col-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}

section.section-fotos h1 {
    color: #077697;
    font-size: 35px;
    font-weight: 800;
    line-height: 58px;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
}

section.section-fotos h1::after {
    background-image: url("../img/line.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 3px;
}

p {
    text-align: justify;
}

.section-fotos .galeryContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.stretch-link {
    height: 60vh;
    position: absolute;
    width: 100%;
}

.section-fotos .galeryContainer .card {
    flex: 1 1 0;
    height: 60vh;
    position: relative;
    transition: all 1s ease-in-out 0s;
}

.section-fotos .galeryContainer .card .card__head {
    align-items: center;
    background: rgba(0, 0, 0, 0.55);
    bottom: 0;
    color: white !important;
    display: flex;
    font-size: 1em;
    height: 60vh;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform-origin: 0 0;
    transition: all 0.8s ease-in-out 0s;
    white-space: nowrap;
    width: 100%;
}

.section-fotos .galeryContainer .card:hover {
    flex-grow: 3;
}

.section-fotos .galeryContainer .card:hover img {
    filter: grayscale(0);
}

.section-fotos .galeryContainer .card:hover .card__head {
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 0;
    text-align: center;
    width: 100%;
}

.section-fotos .galeryContainer .card img {
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out 0s;
    width: 100%;
}

.section-fotos .galeryContainer .card:not(:nth-child(6)) {
    margin-right: 1em;
}

section.section-fotos .mobile {
    display: block;
}

section.section-fotos .desktop {
    display: none;
}

.section-fotos .galeryContainer {
    flex: 1 1 auto;
}

.section-fotos .galeryContainer .card {
    flex: 1 1 auto;
    height: 200px;
}

.section-fotos .galeryContainer .card .card__head {
    height: 200px;
}

.section-fotos .galeryContainer .card:not(:nth-child(6)) {
    margin-right: 0;
}

.stretch-link {
    height: 200px;
}

section.section-fotos .galeryContainer :is(.card,
img,
.card__head) {
    border-radius: 15px !important;
    transition: all 0.3s ease 0s;
}

section.section-fotos .galeryContainer :is(img,
.card__head):hover {
    transform: scale(1.1);
}

.section-fotos .galeryContainer>div {
    padding: 0.2rem;
}

.section-fotos .galeryContainer .card {
    height: 180px;
}

.section-fotos .galeryContainer .card .card__head {
    height: 180px;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
    outline: none;
}

.btn-link.focus,
.btn-link:focus {
    text-decoration: none;
}

.carousel-item {
    width: 1920px;
    height: 800px;
}

.carousel-item active {
    padding: 0%;
}

#carouselExampleControls {
    height: 100px;
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    padding: 0px;
}

#section .fotos {
    padding: 0px;
}

.espaco {
    padding: 15px;
}

#botaoteste {
    height: 100px;
}

#botaoteste:hover {
    background-color: blue;
}

* {
    margin: 0;
}